<link rel='stylesheet' href='/stylesheets/tienda.css'/>
    <script src="main.js"></script>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

<div class="row">
            
            <div class="col-lg-4 col-md-6 mb-4">
              <div class="card">
                <a href="#"><img class="card-img-top" src="https://sodimac.scene7.com/is/image/SodimacPeru/1200267?$producto495$&iv=tH9re3&wid=489&hei=489" alt=""></a>
                <div class="card-body">
                  <h4 class="card-title">
                    <a href="#">Pico Punta y Pala</a>
                  </h4>
                  <h5>S/ 58.90 C/U</h5>
                  <p class="card-text">Pico Punta y Pala <br> con Mango Tramontina</p>
                  <a href="#" class="btn btn-primary">Agregar</a>
                </div>
              </div>
            </div>

            <div class="col-lg-4 col-md-6 mb-4">
              <div class="card">
                <a href="#"><img class="card-img-top" src="https://sodimac.scene7.com/is/image/SodimacPeru/211206_1?$producto495$&iv=IoGSh2&wid=489&hei=489" alt=""></a>
                <div class="card-body">
                  <h4 class="card-title">
                    <a href="#">Cemento Andino</a>
                  </h4>
                  <h5>S/ 23.20</h5>
                  <p class="card-text">Cemento Premium Tipo I <br> 42.5 Kg Andino</p>
                  <a href="#" class="btn btn-primary">Agregar</a>
                </div>
              </div>
            </div>

            <div class="col-lg-4 col-md-6 mb-4">
              <div class="card">
                <a href="#"><img class="card-img-top" src="https://sodimac.scene7.com/is/image/SodimacPeru/1970607?$producto495$&iv=vqirC1&wid=489&hei=489" alt=""></a>
                <div class="card-body">
                  <h4 class="card-title">
                    <a href="#">Carretilla 20 L</a>
                  </h4>
                  <h5>S/ 144.90</h5>
                  <p class="card-text">Carretilla 20 L <br> Tramontina</p>
                  <a href="#" class="btn btn-primary">Agregar</a>
                </div>
              </div>
            </div>

            <div class="col-lg-4 col-md-6 mb-4">
              <div class="card">
                <a href="#"><img class="card-img-top" src="https://sodimac.scene7.com/is/image/SodimacPeru/121207?$producto495$&iv=hQrrz1&wid=489&hei=489" alt=""></a>
                <div class="card-body">
                  <h4 class="card-title">
                    <a href="#">Pala Punta Huevo</a>
                  </h4>
                  <h5>S/ 42.90 C/U</h5>
                  <p class="card-text">Pala Punta Huevo <br> con Mango Tramontina</p>
                  <a href="#" class="btn btn-primary">Agregar</a>
                </div>
              </div>
            </div>

            <div class="col-lg-4 col-md-6 mb-4">
              <div class="card">
                <a href="#"><img class="card-img-top" src="https://sodimac.scene7.com/is/image/SodimacPeru/2087618_1?$producto495$&iv=2ZHS13&wid=489&hei=489" alt=""></a>
                <div class="card-body">
                  <h4 class="card-title">
                    <a href="#">Tubo 1/2" x 5m</a>
                  </h4>
                  <h5>S/ 7.50 C/U</h5>
                  <p class="card-text">Tubo 1/2" x 5 m <br> sp Tuboplast</p>
                  <a href="#" class="btn btn-primary">Agregar</a>
                </div>
              </div>
            </div>

            <div class="col-lg-4 col-md-6 mb-4">
              <div class="card">
                <a href="#"><img class="card-img-top" src="https://sodimac.scene7.com/is/image/SodimacPeru/1486934_1?$producto495$&iv=0_NSr2&wid=489&hei=489" alt=""></a>
                <div class="card-body">
                  <h4 class="card-title">
                    <a href="#">Codo PVC 1/2" 90°</a>
                  </h4>
                  <h5>S/ 19.90 C/U</h5>
                  <p class="card-text">Codo PVC sp 1/2" 90° <br> pack x 20 Pavco</p>
                  <a href="#" class="btn btn-primary">Agregar</a>
                </div>
              </div>
            </div>

          </div>
          <nav aria-label="...">
  <ul class="pagination">
    <li class="page-item disabled">
      <a class="page-link" href="#" tabindex="-1">Previous</a>
    </li>
    <li class="page-item active"><a class="page-link" href="#">1</a></li>
    <li class="page-item ">
      <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
    </li>
    <li class="page-item "><a class="page-link" href="#">3</a></li>
    <li class="page-item">
      <a class="page-link" href="#">Next</a>
    </li>
  </ul>
</nav>